results/hgnc_with_journal.json
.Rproj.user
HGNC_ePMC/data/*.tsv
bibliometric_symbol_usage/data/ChEBI_priIDs.tsv
bibliometric_symbol_usage/data/ChEBI_secID2priID.tsv
bibliometric_symbol_usage/data/ChEBI_synonym2name.tsv
bibliometric_symbol_usage/data/HGNC_alias&prev2symbol.tsv
bibliometric_symbol_usage/data/HGNC_priIDs.tsv
bibliometric_symbol_usage/data/HGNC_secID2priID.tsv
bibliometric_symbol_usage/data/HMDB_priIDs.tsv
bibliometric_symbol_usage/data/HMDB_secID2priID.tsv
bibliometric_symbol_usage/data/HMDB_synonym2name.tsv
bibliometric_symbol_usage/data/NCBI_alias&prev2symbol.tsv
bibliometric_symbol_usage/data/NCBI_priIDs.tsv
bibliometric_symbol_usage/data/NCBI_secID2priID.tsv
bibliometric_symbol_usage/data/UniProt_priIDs.tsv
bibliometric_symbol_usage/data/UniProt_secID2priID.tsv
bibliometric_symbol_usage/results/*json